* {
  box-sizing: border-box;
}

.principal {
  display: flex;
  flex-direction: row;
  background-color: #5d81d1;
  justify-content: space-between;
}

.opciones-lista {
  list-style: none;
}

.recuentoitems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ff8d26;
}

.botonsuma {
  padding: 10px;
}
