* {
  box-sizing: border-box;
  margin: 0;
  font-family: roboto, sans-serif;
}

section {
  padding: 1rem;
}
.principal {
  display: flex;
  flex-direction: row;
  background-color: #5d81d1;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  height: 3rem;
}

.opciones-lista {
  list-style: none;
  align-items: center;
  display: flex;
  align-items: center;
  font-size: x-small;
}

.recuentoitems {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ff6400;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.recuentoitems img {
  width: 30px;
}
.botonsuma {
  padding: 10px;
}

.formulario {
  background-color: #ff8d26;
  height: 100vh;
}

button {
  background: #5d81d1;
  border: none;
  color: rgb(242, 242, 242);
}

li {
  margin: 0 5px;
}

.active {
  font-weight: bold;
}
